@model List<BookSearchModel>

@{
}
<div class="col"> 
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Kitap Kapağı</th>
                <th>Kitap Adı</th>
                <th>Yazar</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td><img width="128px" src=~/uploads/@item.BookImageFileName /></td>*@
                    <td>@item.BookName</td>
                    <td>@item.Author</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>