
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz...</h1>
</div>

<div class="text-center">
    <p>Çevrimiçi Kütüphanemizi Kullanarak Aradığınız Kitaplara Kolayca Ulaşabilirsiniz.</p>
</div>

<div class="row">
    <div class="col">
        <p>İstediğiniz kitapları aratabilir ve müsaitlik durumuna göre kitaba sahip olabilirsiniz</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <input class="form-control me-2" type="text" id="txtSearch" /> 
    </div>
    <div id="grdBooks"></div>
</div>
<script src="~/lib/jquery-ajaxy/scripts/jquery.ajaxy.min.js"></script>
<script>
    $(() => {
        getBooks();

        $('#txtSearch').on('keyup', () => {
            getBooks();
        });
    });

    function getBooks(){
        $.ajax({
            url:'@Url.Action("SearchBooks","Home")',
            datatype: 'html',
            method: 'GET',
            data: {searchText: $('#txtSearch').val() },
            success: function(res){
                $('#grdBooks').html('').html(res);
            },
            error: function(err){
                console.log(err);
            }

        })
    }
</script>
