@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">
    <p>Çevrim İçi Kütüphanemize Hoş Geldiniz</p>
</div>
<div class="row">
    <div class="col">
        <p>İstediğiniz kitapları aratabilir ve diğer kullanıcılarımızda değilse hemen arattığınız kitaba sahip olabilirsiniz</p>
    </div>
</div>
        <form> 
            <div id="box">
                <input type="text" id="search" placeholder="Kitap Ara..">
                <i class="fa fa-search"></i>
            </div>
        </form>
    </div>
</div>
